@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    html {
        /* @apply font-bold; */
    }
    p {
        @apply font-medium;
    }
}
@layer components {
    /* Button Style */
    .btn {
        @apply bg-gray-300 py-4 px-12 rounded-full cursor-pointer transition-all duration-500 font-medium;
    }
    .btn + .btn {
        @apply ml-2;
    }
    .primary {
        @apply bg-primary-600 hover:bg-gradient-to-tl text-white;
    }
    .highlight {
        @apply bg-transparent border border-primary-900 text-primary-900 hover:bg-primary-100;
    }
    .secondary {
        @apply bg-transparent border border-gray-300 text-gray-500  hover:border-primary-900 hover:text-primary-900;
    }

    .info {
        @apply bg-white text-primary-900 hover:shadow-around hover:bg-primary-800 hover:text-white;
    }
    .small {
        @apply py-2 px-8;
    }

    .hasIcon {
        @apply flex items-center !pl-1.5 !py-1.5;
    }

    .icon {
        @apply group-hover:text-black group-hover:animate-spin;
    }
    .icon + .title,
    .title + .icon {
        @apply ml-3;
    }
    .small .icon {
        @apply bg-white text-primary-600 py-2 px-2 rounded-full;
    }

    /* Nested menu */
    .dropdown {
        @apply absolute right-0 left-0 shadow-md text-sm z-10 min-w-10 py-2 bg-white hidden;
    }

    .menus > .menu-items button,
    .menus > .menu-items a {
        @apply px-4 py-6 hover:text-primary-900 font-semibold;
    }

    .dropdown > .menu-items button,
    .dropdown > .menu-items a {
        @apply py-2.5 px-4 hover:text-primary-900;
    }

    .dropdown-submenu {
        @apply absolute left-full -top-2;
    }
    .overlay {
        @apply fixed top-0 left-0  right-0 bottom-0 z-40 bg-overlay transition-all duration-300;
    }

    /* Fixed header */
    .scrolled {
        @apply fixed !bg-white w-full left-0 right-0 top-0 -mt-32 !shadow-sm;
    }
    .awake {
        @apply mt-0 transition-all duration-300;
    }
}

body {
    min-height: 10000px;
    /* background-color: aqua; */
}
