@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    #root {
        overflow: hidden;
    }

    p {
        @apply font-medium;
    }

    a,
    img,
    input {
        @apply outline-none;
    }
    select {
        padding: 17px 30px;
        width: 100%;
        -webkit-appearance: none;

        background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right
            #ddd;
        background-size: 10px;
        background-position: calc(100% - 30px) calc(50%);
        background-repeat: no-repeat;
        outline: 0;
    }

    .active {
        @apply text-primary-900;
    }
}
@layer components {
    /* Common */
    .heading {
        @apply md:text-[50px] md:leading-[60px] text-[32px] leading-[42px] font-bold;
    }
    /* Modal */
    .modal {
        @apply flex items-center justify-center fixed top-0 left-0 right-0 bottom-0 bg-overlay-500 z-[99] opacity-0 invisible;
    }
    .modal.active {
        @apply opacity-100 visible;
    }

    .modal-content {
        @apply relative p-8 md:w-1/2 w-4/5 bg-black transition duration-300 opacity-0 -translate-y-[250px];
    }

    .modal-content > iframe {
        @apply md:h-[350px] h-[180px];
    }

    .modal.active .modal-content {
        @apply opacity-100 translate-y-0;
    }

    /* Button Style */
    .btn {
        @apply bg-gray-300 py-4 px-12 rounded-tl-full rounded-tr-full rounded-b-full cursor-pointer transition-all duration-500 font-medium;
    }
    .btn + .btn {
        @apply ml-2;
    }
    .shape {
        @apply !rounded-tl-none;
    }
    .primary {
        @apply bg-primary-600 hover:bg-primary-900 text-white;
    }
    .highlight {
        @apply bg-transparent border border-primary-900 text-primary-900 hover:bg-primary-100;
    }
    .secondary {
        @apply bg-transparent border border-gray-300 text-gray-500  hover:border-primary-900 hover:text-primary-900;
    }

    .info {
        @apply bg-white text-primary-900 hover:shadow-around hover:bg-primary-800 hover:text-white;
    }

    .small {
        @apply py-2 px-8;
    }

    .hasIcon {
        @apply flex items-center !pl-1.5 !py-1.5;
    }

    .icon {
        @apply group-hover:text-black group-hover:animate-spin;
    }
    .icon + .title,
    .title + .icon {
        @apply ml-3;
    }
    .small .icon {
        @apply bg-white text-primary-600 py-2 px-2 rounded-full;
    }

    .btn-play::after {
        @apply content-[''] absolute bg-orange-400 w-4/5 h-4/5 -z-10 rounded-full animate-ping-slow opacity-75;
    }

    /* Nested menu */
    .dropdown {
        @apply absolute right-0 left-0 shadow-lg text-sm z-10 w-[200px] border border-dashed border-primary-300 rounded-md py-2  bg-white hidden;
    }

    .menus > .menu-items button,
    .menus > .menu-items a {
        @apply px-4 py-6 hover:text-primary-900 font-semibold;
    }

    .dropdown > .menu-items button,
    .dropdown > .menu-items a {
        @apply py-2.5 px-4 hover:text-primary-900;
    }

    .dropdown-submenu {
        @apply absolute left-full -top-2;
    }
    .overlay {
        @apply fixed top-0 left-0  right-0 bottom-0 z-40 bg-overlay-200 transition-all duration-300;
    }

    /* Fixed header */
    .scrolled {
        @apply fixed !bg-white w-full left-0 right-0 top-0 -mt-32 !shadow-sm;
    }
    .awake {
        @apply mt-0 transition-all duration-300;
    }

    /* Banner */
    .star {
        @apply text-yellow-300 text-[20px];
    }

    /* Service */
    /* .services::before {
        @apply content-[''] bg-wave top-0 left-0 z-50;
    } */
    .service-icon {
        @apply h-[150px] w-[150px] text-[70px] text-center leading-[150px] duration-300 inline-block absolute top-0 -mt-[75px] -ml-[75px] left-1/2 rounded-drag border-8 border-white;
    }

    /* Company */
    .company-list .company-item:hover img {
        @apply filter-none !opacity-100 transition duration-300;
    }

    .company-list:hover img {
        @apply opacity-30 transition duration-300 grayscale;
    }
    /* About */
    .accordion-item:not(:first-child) {
        @apply mt-1;
    }
    /* Blog */
    .blog-cate__item {
        @apply flex items-center text-[14px] text-gray-600;
    }
    .blog-cate__item:not(:first-child) {
        @apply ml-3;
    }
    .blog-cate__item span {
        @apply mr-1 text-orange-500;
    }
    .blog-content p {
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 1.8em;
        max-height: 3.6em;
        line-height: 1.6em;
        padding-right: 0;
        padding-left: 0;
    }
    /* Testimonial */
    .testimonial-review {
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 1.8em;
        max-height: 3.6em;
        line-height: 1.6em;
        padding-right: 0;
        padding-left: 0;
    }

    .rating-start:not(:first-child) {
        @apply ml-1;
    }
    /* Gallery */
    .gallery img {
        @apply rounded-2xl;
    }
    /* Booking */
    .input-field:not(:first-child) {
        @apply mt-5;
    }
    /* Footer */
    .footer-social {
        @apply p-4 rounded-full bg-gray-100 hover:bg-primary-500 hover:text-white hover:rotate-[360deg] transition duration-500;
    }
    .footer-social:not(:first-child) {
        @apply ml-3;
    }
}
