.banner-desc .slick-dots,
.testimonial-slide .slick-dots {
    text-align: left;
}

.testimonial-slide .slick-dots {
    margin-left: 15px;
}

.banner-desc .slick-dots li button:before {
    top: 25px;
    font-size: 10px;
}
.testimonial-slide .slick-dots li button:before {
    top: 15px;
    font-size: 10px;
}
.banner-desc .slick-dots li.slick-active button:before,
.testimonial-slide .slick-dots li.slick-active button:before {
    color: #ed6436;
}

.blog-list .slick-slider {
    margin: 0 -15px;
}

.blog-list .slick-slide {
    padding: 15px;
}
